{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Survey
{% endblock %}

{% block content %}

    <p>
        Please answer each question as accurately and honestly as you can.
        Remember, all answers are anonymous and cannot be traced back to you in any way.
        None of your responses to these demographic questions will have any effect on any part
        of the experiment.
    </p>

    <!-- ==================scale question======================== -->

    <p style="margin-left: 50px;">
        (1) Strongly disagree (4) Neither disagree nor agree (7) Strongly agree
    </p>

    <hr>
    <div class="container" style="alignment:center">
        <div class="row" style="text-align: center; font-size: 12px;">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-1">
                Strongly disagree
            </div>
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-1">
            
            </div>
            <div class="col-sm-1">
                Neither disagree nor agree
            </div>
            <div class="col-sm-1">
            
            </div>
            <div class="col-sm-1">
            
            </div>
            <div class="col-sm-1">
                Strongly agree
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-5">
                {{ form.q1.label }}
            </div>
            {% for choice in form.q1 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                The way that payoffs were determined for the manager was fair.
            </div>
            {% for choice in form.q2 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q3.label }}
            </div>
            {% for choice in form.q3 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q4.label }}
            </div>
            {% for choice in form.q4 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q5.label }}
            </div>
            {% for choice in form.q5 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q6.label }}
            </div>
            {% for choice in form.q6 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q7.label }}
            </div>
            {% for choice in form.q7 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q8.label }}
            </div>
            {% for choice in form.q8 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                {{ form.q9.label }}
            </div>
            {% for choice in form.q9 %}
                <div class="col-sm-1" style="text-align: center;">{{ choice }}</div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <!-- ========================================== -->

    {% next_button %}

{% endblock %}
